.more-filters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  .filter-card:hover {
    transform: scale(1.05);
  }
  
  .filter-card {
    border-radius: 0.5rem;
    box-shadow: 0 .25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 0.6rem;
    padding: 1.25rem;
    width: 12.5rem;
    
  }
  
  .filter-card h3 {
    border-bottom: 0.06rem solid #ddd;
    font-size: 1rem;
    margin-bottom: 0.6rem;
    padding-bottom: 0.6rem;
  }
  
  .filter-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .filter-card ul li {
    margin-bottom: 0.313rem;
  }
  .darkMode {
    background-color: #333;
    color: #fff;
  }
  
 
  