.shop-container {
  margin: auto;
  padding-top: 1rem;
  cursor: pointer;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.25rem;
}

.product-card:hover {
  transform: scale(1.05);
}


.product-card {
  border: .06rem solid #ddd;
  padding: .625rem;
  text-align: center;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card img {
  width: 100%;
  max-height: 12.5rem;
  object-fit: cover;
  border-bottom: .06rem solid #ddd;
}

.card-info {
  padding: 0.625;
  
}
.darkMode {
  background-color: #333;
  color: #fff;
}
