
.main form {
    

    margin: auto;
    padding: 0.6rem;

    border: solid;
    
   
    background-color: rgb(202, 112, 112);
    
}

.error {
    color: red;
    
}


.error.shown {
    visibility: visible;
  
}

.form #tier{
    padding: 0.5rem;
    margin-top: 0.6rem;
}
.form-row {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 0.6rem; 
}



.required-asterisk {
    color: #ff0000;
}


label{

    color: white;
}

form button {
    grid-column: span 2;
    background-color: #333;
    color: #fff;
    padding: 0.6rem 1.25rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
  
    
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(47, 106, 127);
    top: 0;
    bottom: 0;
    z-index: 999;
    mix-blend-mode: hard-light;
    min-height: 100vh;
}

.modal-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}