.button {
  display: inline-block;
  background-color: rgb(20, 1, 1);
  border: 1px solid white;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: auto;
  color: #fff;
  background-image: -webkit-linear-gradient(30deg, #f40ff4 50%, transparent 50%);
  background-image: linear-gradient(30deg, #fa09fa 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-position: 100%;
  color: #f7f1f1;
}

.button-link {
  background-color: transparent;
  border: none;
  color: #f40ff4;
  font-size: 20px;
  cursor: pointer;
}
