header{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    width: 100%;
    
   
    padding: 1rem;
    z-index: 1000;
    box-shadow: rgba(2, 15, 29, 0.242);
    .logo{
       
        color: black;
    }
    .icon{
        position: left;
    }
}
.skip-to-main-content-link{
    padding: 1rem;
}

.navBar{
    position: absolute;
    /* background-color: rgb(239, 227, 227); */
   
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: 6rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 0.125rem 0.25rem rgba(2, 15, 29, 0.904);
    transition: .3s ease-in-out;
}

.skip-to-main-content-link { 
    padding: 0.313rem;
    opacity: 0; 
  }
  
  .skip-to-main-content-link:focus {
    
    right: 40%;
    transform: translateX(-50%);
    opacity: 1;
  }

.navLists{
    flex-direction: row;
    justify-content: center;
    gap: 0.9rem;
    width: 100%;
    margin: auto;
    padding: .5rem 0;
}
.logo{
    color: black;
    font-weight: 600;
    align-items: center;
    align-items: center;
    justify-content: center;

}
.icon{
    transform: translateY(5px);
    font-size: 1.5rem;
   
   
}
.h1{
    position: left;
}

a{
    color: black;
}

.darkMode {
    background-color: #333;
    color: #fff;
}

.darkMode a{
    color: white;
}

.toggleNavbar{
    display: none;
}


@media screen and (max-width: 48rem) {
    .navBar{
        position: absolute;
        /* background-color: rgb(239, 227, 227); */
        
        height: max-content;
        width: 80%;
        border-radius: 1rem;
      
        left: 50%;
        padding: 1rem;
        transform: translate(-50%);
        
        box-shadow: 0 .125rem .25rem rgba(0, 9, 17, 0.249);
        transition: .5s ease-in-out;
    }

    .toggleNavbar{
        display: block;
    }

    nav{
        display: none;
    }

    .show{
        display: block;
    }

    .activeNavbar{
        top: 7rem;

    }

    .navLists{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: .5rem 0;
    }
    .navIteam{
        padding: .5rem 0;       
    }

    .navLink{
        /* color: (240, 4%, 36%); */
        font-size: .9rem;
        font-weight: 600;
        &:hover{
            /* color: (199, 100%, 33%); */
        }
    }
    .btn{
        margin-top: 1rem;
        a {
            font-weight: 600;
            /* color: beige; */

        }
    }
   


.toggleNavbar{
    icon{
        color: black;
        font-size: 1.5rem;
        /* color: var(--primaryColor); */
    }
    &:hover.icon{
        /* color: var(--secondaryColor); */
        /* color: blue; */
    }
}
.darkMode {
    background-color: #333;
    color: #fff;
  }
}
.skip-to-main-content-link{
    position: absolute;
}