
.footer {
    text-align: center;
    width: fit-content;
  }
  
  .footer-content {
    margin: 0 auto;
    border-radius: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .footer-content p{
    margin: 0;
    
  }
  .darkMode {
    background-color: #333;
    color: #fff;
  }

  @media (max-width: 20rem) {
    .footer__items {
        flex-direction: column;
        align-items: center;
       }
  
       .footer__items a {
        margin-bottom: 2px;
       }

  }
  